body{
    padding:0;
    margin:0;
}

.nav-container{
background: url("./Assets/Image.png");
padding-top:30px;
padding-bottom: 200px;
}
.nav-flex-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:90px;
    flex-wrap:wrap;
}
.flex-one h3{
    color:#ffff;
    font-size:16px;
}
.flex-two{
    display:flex;
    flex-wrap:wrap;
    gap:30px;
    font-size: 14px;
}
.flex-nav{
    display:flex;
    align-items: center;
    justify-content: center;
    color:#ffff;
    gap:5px;
}
.flex-three button{
   width:150px;
   height:40px;
   border-radius:20px;
   border:none;
}

.welcome-div {
    padding:30px 0px 50px 0px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap:wrap;
    text-align: center;
    color:#ffffff;
}
.welcome-div p{
    margin-top: -8px;
}

.plain-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    
}

.form-container{
    width:350px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding:20px;
    padding-left:40px;
    border-radius:25px; 
    position:absolute;
    background:#ffff;
    top:280px; 
}

.icon-flex{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.register{
    text-align: center;
}

.icon-flex p{
 width:60px;
 height:60px;
 text-align: center;
 border-radius: 10px;
 border:2px solid rgb(209, 205, 205);
}
.icon-flex p i{
    text-align: center;
    font-size:26px;
    padding:15px;
    color:rgb(52, 51, 51);
}

.faint-text{
    color:rgb(97, 97, 97);
    text-align: center;
    font-size: 20px;
}
form{
    display:block;
}
label{
    display:block;
     padding:5px;
}
 input{
    width:310px;
    height:40px;
    border-radius:10px;
    border:1px solid rgb(227, 226, 226);
    margin-bottom:20px;
 }
 
 input::placeholder{
    padding-left:10px;
 }
 .toggle-container{
    display:flex;
    gap:10px;
    align-items: center;
    text-align: left;
    margin-bottom:20px;
    
 }
 .fa-toggle-on{
    font-size:25px;
    color: #4FD1C5;
 }
.sign-up-container button{
    width:310px;
    height:40px;
    background: #4FD1C5;
    color:#ffffff;
    border:none;
    border-radius:10px;
}
.form-last-text{
    text-align: center;
}
.form-last-text a{
    text-decoration: none;
    color: #4FD1C5;
}
.empty-container{
    padding-bottom: 550px;
}
@media(max-width:1000px){
    .nav-container{
        padding-top:20px;
        padding-bottom: 150px;
        }
        .nav-flex-container{
            gap:55px;   
        }
        .flex-one h3{
            font-size:15px;
        }
        .flex-two{
            gap:20px;
            font-size: 13px;
        }
        .flex-nav{
            gap:4px;
        }
        .flex-three button{
            width:130px;
            height:40px;
            border-radius:20px;
            font-size: 12px;
         }
   .empty-container{
    padding-bottom: 400px;
}
        
}
/* sign-in-styling */
.sign-in-navs{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    width:800px;
    gap:60px;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
z-index: 999999;
}
.sign-in{
    color:black;
}
.sign-in h3{
    font-size:13px;
}
.flex-two-sign-in{
    font-size:12px;
    gap:10px;
}
.sign-in-button button{
    width:120px;
    height:25px;
    background: #1A1E32;
    color:#ffffff;
    border:none;
    border-radius:10px;
}
.sign-in-navs-container{
    padding-top:20px;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
/* .main-container-flex{
    /* display:flex; */
    /* align-items:center;
    justify-content: center;
    } */


.main-flex-welcome{
margin-left: 175px;
margin-top:60px ;
height:100px;
}
.main-flex-welcome h1{
    color: #4FD1C5;
}

.main-flex-img{
    position:absolute;
    top:0px;
    right:0px;
}
.rectangle-img{
    width:450px;
    height:600px;
}
.chakra-img{
     position:absolute; 
     right:120px;
     width:190px;
     top:300px;
    
}
.form-last-text-sign-in a{
    text-decoration: none;
    color:#4FD1C5;
}

/* profile-screen-styling */
.profile-nav-flex{
  margin-left:30px;
}

.profile-purity-h3{
    display:flex;
    gap:10px;
    margin-bottom: 20px;
    margin-top:20px;
}

.favicon-profile{
    object-fit:contain;
}
.profile-purity-h3 h3{
    font-size: 12px;
}
.hr{
    width:100px;
}
.profile-mini-container{
    display:flex;
    align-items: center;
    gap:5px;
    padding: 4px;
 
}
.profile-mini-container p{
    color:gray;
}
.profile-mini-container p.active-text{
    color:black;
}

.active{
    background:#eae6e6;
    width:160px;
    height:32px;
    border-radius: 5px;
}


.profile-mini-container div {
    width:20px;
    height:20px;
    border-radius:100px;
    background: rgb(254, 254, 254);
    padding:4px;
    text-align: center;
}
.profile-mini-container div.active-div{
    background: #4FD1C5;
}


.profile-mini-container i{
    font-size: 15px;
    color:#4FD1C5;
}
.profile-mini-container i.icon-active{
    color:#ffff;
}

.docs-rectangle-box{
    color:#ffff;
}
.docs-rectangle-box img{
    position:relative;
    margin-top:20px;
}
.box-text{
    position: absolute;
    bottom:-195px;
    margin-left: 12px;
    line-height: 10px;
}

.box-text div {
    width:20px;
    height:20px;
    border-radius:100px;
    background: #ffff;
    text-align: center;
    padding:4px;
    color:#4FD1C5;
    
}
.docs-button{
    width:180px;
    height:40px;
    border-radius: 10px;
    border:none;
}
.profile-main-flex{
    display:flex;
    gap:20px;
   
}
.dashboard-board-image{
    width:820px;
    height:200px;
}
.profile-dashboard{
position:relative;
padding-top: 10px;
}
.profile-background-text{
    position:absolute;
    top:10px;
    color:#ffff;
    font-size: 12px;
    padding-left: 13px;
    padding-top: 10px;
}
.profile-background-text{
    display:flex;
    gap:430px;
}
.profile-text-two{
    display:flex;
    gap:5px;
    align-items: center;
    justify-content: center;
    
    
}
.profile-input-div{
position:relative;
}
.fa-search{
    position:absolute;
    left:7px;
    bottom:28px;
    color:grey;
}
.profile-input-div input{
    width: 170px;
    height:25px;
}
.profile-input-div input::placeholder{
    font-size: 8px;
    padding-left: 20px;
}
.profile-text-sign-in{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    gap:8px;

}
.profile-text-icons{
    margin-top: -20px;
    display: flex;
    gap:7px;
    margin-left: 10px;
}

.glass-background{
  
/* From https://css.glass */
background: rgba(239, 234, 234, 1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(15.2px);
-webkit-backdrop-filter: blur(15.2px);
border: 1px solid rgba(255, 255, 255, 0.3);
margin-top: -30px;
width:790px;
height:70px;
margin-left: 10px;
}
.glass-flex{
    display:flex;
    gap:330px;
    margin-left:5px;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
}
.glass-flex-one{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;

}
.glass-flex-one img{
    width:50px;
    height:50px;
    border-radius:5px;
}
 .name-details {
    line-height: 0px;
}
.name-details p{
    font-size:12px;
    margin-top: -5px;
}

.glass-flex-two{
    display:flex;
    gap:10px;
}

.glass-flex-two div button{
    width:80px;
    height:30px;
    border-radius:20px;
    font-size: 7px;
    border:none;
}
.glass-flex-two div button i{
   margin-right:3px;
} 
