body{
    padding:0;
    margin:0;
}

.nav-container{
background: url("./Assets/Image.png");
padding-top:30px;
padding-bottom: 200px;
}
.nav-flex-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:90px;
    flex-wrap:wrap;
}
.flex-one h3{
    color:#ffff;
    font-size:16px;
}
.flex-two{
    display:flex;
    flex-wrap:wrap;
    gap:30px;
    font-size: 14px;
}
.flex-nav{
    display:flex;
    align-items: center;
    justify-content: center;
    color:#ffff;
    gap:5px;
}
.flex-three button{
   width:150px;
   height:40px;
   border-radius:20px;
   border:none;
}

.welcome-div {
    padding:30px 0px 50px 0px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap:wrap;
    text-align: center;
    color:#ffffff;
}
.welcome-div p{
    margin-top: -8px;
}

.plain-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    
}

.form-container{
    width:350px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding:20px;
    padding-left:40px;
    border-radius:25px; 
    position:absolute;
    background:#ffff;
    top:280px; 
}

.icon-flex{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.register{
    text-align: center;
}

.icon-flex p{
 width:60px;
 height:60px;
 text-align: center;
 border-radius: 10px;
 border:2px solid rgb(209, 205, 205);
}
.icon-flex p i{
    text-align: center;
    font-size:26px;
    padding:15px;
    color:rgb(52, 51, 51);
}

.faint-text{
    color:rgb(97, 97, 97);
    text-align: center;
    font-size: 20px;
}
form{
    display:block;
}
label{
    display:block;
     padding:5px;
}
 input{
    width:310px;
    height:40px;
    border-radius:10px;
    border:1px solid rgb(227, 226, 226);
    margin-bottom:20px;
 }
 
 input::placeholder{
    padding-left:10px;
 }
 .toggle-container{
    display:flex;
    gap:10px;
    align-items: center;
    text-align: left;
    margin-bottom:20px;
    
 }
 .fa-toggle-on{
    font-size:25px;
    color: #4FD1C5;
 }
.sign-up-container button{
    width:310px;
    height:40px;
    background: #4FD1C5;
    color:#ffffff;
    border:none;
    border-radius:10px;
}
.form-last-text{
    text-align: center;
}
.form-last-text a{
    text-decoration: none;
    color: #4FD1C5;
}
.empty-container{
    padding-bottom: 550px;
}
@media(max-width:1000px){
    .nav-container{
        padding-top:20px;
        padding-bottom: 150px;
        }
        .nav-flex-container{
            gap:55px;   
        }
        .flex-one h3{
            font-size:15px;
        }
        .flex-two{
            gap:20px;
            font-size: 13px;
        }
        .flex-nav{
            gap:4px;
        }
        .flex-three button{
            width:130px;
            height:40px;
            border-radius:20px;
            font-size: 12px;
         }
   .empty-container{
    padding-bottom: 400px;
}
        
}
/* sign-in-styling */
.sign-in-navs{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    width:800px;
    gap:60px;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
z-index: 999999;
}
.sign-in{
    color:black;
}
.sign-in h3{
    font-size:13px;
}
.flex-two-sign-in{
    font-size:12px;
    gap:10px;
}
.sign-in-button button{
    width:120px;
    height:25px;
    background: #1A1E32;
    color:#ffffff;
    border:none;
    border-radius:10px;
}
.sign-in-navs-container{
    padding-top:20px;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.main-container-flex{
    /* display:flex; */
    /* align-items:center;
    justify-content: center; */
   
}
.main-flex-welcome{
margin-left: 175px;
margin-top:60px ;
height:100px;
}
.main-flex-welcome h1{
    color: #4FD1C5;
}

.main-flex-img{
    position:absolute;
    top:0px;
    right:0px;
}
.rectangle-img{
    width:450px;
    height:600px;
}
.chakra-img{
     position:absolute; 
     right:120px;
     width:190px;
     top:300px;
    
}
.form-last-text-sign-in a{
    text-decoration: none;
    color:#4FD1C5;
}

/* profile-screen-styling */

.profile-main-flex{
    display:flex;
}
.profile-nav-flex .profile-purity-h3{
    display:flex;
    color:red;
}